html, body { height: 100%; padding: 0; margin: 0; }

body { position: relative; }
#map { height: 100%; }
#panel {
	position: absolute;
	right: 0; top: 0;
	z-index: 500;
	height: 100%;
	overflow-y: auto;
	color: #fff;
	background-color: #000;
	box-shadow: 0 0 8px #000;
	padding: 2rem;
	opacity: 0;
	width: 0;
}

#panel hr { margin-top: 1rem; }
#panel .pp { font-size: 2rem; }
#panel .ok { color: #66BB6A; }
.barplots h2 { text-transform: capitalize; }

/*.sensor-icon .fa { color: #3F51B5; text-shadow: 0 0 2px rgba(0,0,0,0.5); }*/
.sensor-icon {
	position: relative;
	width: 20px !important; height: 20px !important;
	border-radius: 10px;
	background-color: rgba(159, 168, 218, 0.5);
}

.sensor-inner {
	position: absolute;
	top: 3px; left: 3px;
	width: 14px; height: 14px;
	border-radius: 7px;
	background-color: rgba(159, 168, 218, 0.95);
}

/* D3 */

.bar { fill: steelblue; }
.bar:last-of-type { fill: #009688; }
.axis line, .axis path { stroke: #fff; }
.axis text { fill: #fff; }
.limit { stroke: #F44336; stroke-width: 1; }

/* Loading */

#loading {
	position: absolute;
	left: 0; top: 0;
	z-index: 1500;
	height: 100%; width: 100%;
	background-color: rgba(0,0,0,0.8);
}

.spinner {
  margin: 20% auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
